*.bak
*.class
*.classpath
*.iml
*.launch
atlassian-ide-plugin.xml
*.log
*.project
*.settings
*.tmp
.loadpath
.metadata
.project
.idea/*
.idea/**
.settings/
.svn
bin/**
local.properties
target/
tmp/**
*.MF
*.jar
*.war
*.ear
*.zip
*.pdf
*.xls
sqlparams